<h2>Forgot yoor password</h2>
<br/>
<%= flash[:notice] %>
<%= form_with url: "/password/forgot_password", method: :post do |f| %>

    <div class="field">
    <%= f.label :email %> <br/>
    <%= f.text_field :email %>
    </div><br/>

    <div class="actions">
    <%= f.submit "Get new password"%>
    </div><br/>
    
<% end %>